html {
    font-family: sans-serif;
}

body {
    width: 50%;
    max-width: 800px;
    min-width: 480px;
    margin: 300px auto auto 750px;
    background-color: antiquewhite;
}

.lastResult {
    color: white;
    padding: 3px;
    width: 495px;
}